<div id="<%= dom_id reservation %>">
  <p>
    <strong>Table:</strong>
    <%= reservation.table_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= reservation.name %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= reservation.datetime %>
  </p>

</div>
